{% if rowItems %}
	<div class="items grid-container" style='column-gap:50px'>
		{% for item in rowItems %}
			<div class="grid-item span-6">

				{{ item.columnContent|e('wp_kses_post') }}
			</div>
		{% endfor %}
	</div>
{% endif %}
