.items {
    // gap: var(--grid-spacing);
    margin-block-start: 2rem;

    [data-item-card] {
        background: linear-gradient(52deg, hsla(196, 13%, 33%, 0.5), hsl(206, 23%, 73%, 0.15), 80%, hsl(193, 18%, 90%, 0.3)), linear-gradient(45deg, hsl(198, 8%, 33%, 0.3), hsl(189, 13%, 80%, 0.4) 70%);
        border: 1px solid #e0e0e0;
        box-shadow: inset 0 0 2em -0.36em #cdddea, 0 0.375rem 0.75rem #0002;
        text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.84);
        transform: perspective(1000px);
        transform-style: preserve-3d;

        &:hover {
            .text {
                color: hsla(79, 100%, 60%, 1)
            }

            .asIcon {
                filter: grayscale(0%);
            }
        }
    }

    &.asIcon {
        padding-block: 1.5rem;
        padding-inline: 1.5rem;
    }

    .figure {
        margin-block: 0;
        margin-inline: 0;


        img {
            aspect-ratio: 16/9;
            block-size: auto;
            max-inline-size: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .text {
        padding-block: 1.5rem;
        padding-inline: 1.5rem;
        transition: color 0.5s ease-in-out;

    }


    .asIcon {
        align-items: flex-start;
        column-gap: 1rem;
        display: flex;
        filter: grayscale(100%);
        padding-block: 1.5rem;
        padding-inline: 1.5rem;


        .text {
            padding-block: 0;
            padding-inline: 0;
        }

        &.top {
            flex-direction: column;
            row-gap: 0.5rem;
        }

        img {
            max-block-size: 32px;
            max-inline-size: 32px;
        }


    }

}