:root,
[data-theme="reset"] {
  --color-accent: #006be6;
  --color-background: #fff;
  --color-background-secondary: #30303014;
  --color-border: #e6e6e6;
  --color-border-secondary: #303030ad;
  --color-text: #303030;
  --color-text-muted: #303030cc;
  --color-error: #e80243;
}

[data-theme="light"] {
  --color-background: #f2f7fd;
  --color-text: #00244d;
  --color-border: #00244db3;
  --color-border-secondary: var(--color-border);
}

[data-theme="dark"] {
  --color-accent: #beff33;
  --color-background: #00244d;
  --color-background-secondary: #f7f8fd0f;
  --color-border-secondary: #e6e6e6ad;
  --color-text: #fff;
  --color-text-muted: #fffc;
}

[data-theme="primary"] {
  --color-accent: #beff33;
  --color-background: var(--color-primary);
  --color-background-secondary: #f7f8fd0f;
  --color-border-secondary: #e6e6e6ad;
  --color-text: #fff;
  --color-text-muted: #fffc;
}

[data-theme="secondary"] {
  --color-accent: #beff33;
  --color-background: var(--color-secondary);
  --color-background-secondary: #f7f8fd0f;
  --color-border-secondary: #e6e6e6ad;
  --color-text: #fff;
  --color-text-muted: #fffc;
}

[data-theme="tertiary"] {
  --color-accent: #beff33;
  --color-background: var(--color-tertiary);
  --color-background-secondary: #f7f8fd0f;
  --color-border-secondary: #e6e6e6ad;
  --color-text: #fff;
  --color-text-muted: #fffc;
}

[data-has-background] {
  --color-text: #fff;
  background-size: cover;
}

$breakpoint-mobile-horizontal: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;

:root {
  /**
   * FOUC can be reduced with good matching fallback font.
   * https://meowni.ca/font-style-matcher/ or
   * https://github.com/pixel-point/fontpie
   */
  --font-family-heading: 'Teko', sans-serif;
  --font-family-text: 'Public Sans', 'Trebuchet MS', sans-serif;
  --font-size-body: 1.125rem;
  --font-size-body-small: 1rem;
  --flow-space: 1.5625rem;
  --column-gap: clamp(2.5rem, 2.5vw + 1.75rem, 3.75rem);

  --content-max-width: 700px;
  --content-max-width-wide: 900px;
  --content-max-width-full: 1200px;

  --box-spacing: clamp(1rem, 2.50vw + 0.25rem, 2.25rem);
  --container-spacing: clamp(1rem, 2.5vw + 0.25rem, 2.25rem);
  --component-spacing: clamp(3rem, 6.5vw + 1.05rem, 6.25rem);
  --border-radius: 5px;
  --color-primary: #35374b;
  --color-secondary: #344955;
  --color-tertiary: #51727b;
  --color-white: hsla(0, 0%, 100%, 1);
}