.items {
    margin-block-start: 2rem;

    .grid-item {
        margin-block-end: 2rem;

        .title {
            align-items: center;
            // background: #121FCF;
            // background: repeating-linear-gradient(to right, #121FCF 0%, #00FF00 50%, #CF1512 100%);

            // background-clip: text;
            color: var(--color-white);
            display: flex;
            font-weight: bold;
            justify-content: space-between;
            margin-block-end: 1rem;

            span {
                font-size: 80%;
                font-weight: 300;
            }
        }

        .skill-progress {
            appearance: none;
            block-size: 14px;
            border: 1px solid var(--color-accent);
            border-radius: 12px;
            position: relative;

            &::after {
                background-color: var(--color-accent);
                block-size: 8px;
                border-radius: 12px;
                content: "";
                inline-size: var(--width-progress, 0);
                inset-block: 2px;
                inset-inline-start: 2px;
                position: absolute;
                transition: inline-size 1.5s ease-in;
            }

            // &:hover {
            //     &::after {
            //         width: 80%;
            //     }
            // }
        }
    }
}