flynt-component[name='NavigationMain'] {
  // --navigation-height: 100vh;
  block-size: var(--navigation-height);
  block-size: 100vh;
  display: none;
  font-size: var(--font-size-body-small);
  inset-block-start: 0;
  position: sticky;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  .navigation {
    background-color: var(--color-secondary);
    block-size: var(--navigation-height);
    block-size: 100vh;
    // border-block-end: solid 2px var(--color-border);
    inset-block-start: 0;
    inset-inline: 0;
    max-inline-size: 200px;

    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .container {
    block-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: 24px;
  }

  @import 'Partials/logo';
  @import 'Partials/menu';
}